<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520592574748-jtjjqn80m72bc77skromm8tp1lupqhcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520592574748-jtjjqn80m72bc77skromm8tp1lupqhcv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>520592574748-746nj4sc6qkqobseuoe7lcvdemulgut0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZOE5kpEgq_kJPqPVIJAaxnpA4lezYvk4</string>
	<key>GCM_SENDER_ID</key>
	<string>520592574748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.carauctionuae</string>
	<key>PROJECT_ID</key>
	<string>car-auction-bf6f0</string>
	<key>STORAGE_BUCKET</key>
	<string>car-auction-bf6f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520592574748:ios:0bae745258b962f9c052d9</string>
</dict>
</plist>